<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dwellable.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>107</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EAE57349391610F4E5D4517B0C8886608853588C</string>
				<key>dateExpires</key>
				<string>2/13/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>38X95M6CUB.com.kellgolden.Dwell</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>38X95M6CUB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Dwellable.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>305adbc1-8bf4-415d-9b34-3daefd12264a</string>
				<key>dateExpires</key>
				<string>2/22/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kellgolden.Dwell</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>38X95M6CUB</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
